<html>
<head>
  <title>adult salary expectation</title>
  <link rel="stylesheet" href="{{url_for('static',filename='indata.css')}}">
</head>
<body>
<form action="predict" method="POST">
<div id='inner'>
<table>
<tr><td>
<div><label for="age">Age</label></td><td>
<input type='number' name='age' id='age'></div></td></tr>

<tr>
  <td>
    <div>
      <label for="workclass">Work class</label></td><td>
<select id='workclass' name='wc'>
<option value=' State-gov'> State-gov</option>
<option value=' Private'> Private</option>
<option value=' Self-emp-not-inc'> Self-emp-not-inc</option>
<option value=' Federal-gov'> Federal-gov</option>
<option value=' Local-gov'> Local-gov</option>
<option value=' Self-emp-inc'> Self-emp-inc</option>
<option value=' Without-pay'> Without-pay</option>
<option value=' Never-worked'> Never-worked</option>
</select>
</div>
</td>
</tr>

<tr>
  <td>
    <div>
      <label for="ed">Education</label>
    </td>
    <td>
<select id='ed' name='ed'>
<option value='13'> Bachelors</option>
<option value='9'> HS-grad</option>
<option value='7'> 11th</option>
<option value='14'> Masters</option>
<option value='5'> 9th</option>
<option value='10'> Some-college</option>
<option value='12'> Assoc-acdm</option>
<option value='11'> Assoc-voc</option>
<option value='4'> 7th-8th</option>
<option value='16'> Doctorate</option>
<option value='15'> Prof-school</option>
<option value='3'> 5th-6th</option>
<option value='6'> 10th</option>
<option value='2'> 1st-4th</option>
<option value='1'> Preschool</option>
<option value='8'> 12th</option>
</select>
</div>
  </td>
</tr>
<tr>
  <td>
    <div>
      <label for="oc">occupation</label>
    </td>
    <td>
<select id='oc' name='oc'>
<option value=' Adm-clerical'> Adm-clerical</option>
<option value=' Exec-managerial'>Exec-managerial</option>
<option value=' Handlers-cleaners'>Handlers-cleaners</option>
<option value=' Prof-specialty'>Prof-specialty</option>
<option value=' Other-service'>Other-service</option>
<option value=' Sales'>  Sales</option>
<option value=' Craft-repair'>  Craft-repair</option>
<option value=' Transport-moving'> Transport-moving</option>
<option value=' Farming-fishing'>  Farming-fishing</option>
<option value=' Machine-op-inspct'> Machine-op-inspct</option>
<option value=' Tech-support'> Tech-support</option>
<option value=' Protective-serv'> Protective-serv</option>
<option value=' Armed-Forces'> Armed-Forces</option>
<option value=' Priv-house-serv'> Priv-house-serv</option>
</select>
</div>
</td>
</tr>

<tr>
  <td>
    <div>
      <label for="cg">capital gain</label>
    </td>
    <td>
<input type='number' id='cg' name='cg'></div>
</td>
</tr>
<tr>
  <td>
    <div>
      <label for="cs">capital loss</label>
    </td>
    <td>
<input type='number' id='cs' name='cs'></div>
</td>
</tr>
<tr>
  <td>
    <div>
      <label for="hw">hours per week</label>
    </td>
    <td>
<input type='number' id='hw' name='hw'></div>
</td>
</tr>
</table>
<div id='isub'><button type='submit' id='sub'>submit</button></div>
</div>
</form>
</body>
</html>
