*{

  margin: .3vw auto .3vw auto;

  }
  input,option,select{
    background-color: inherit;
    border-radius:15px;
    font-size: 1.5vw;
    margin: .8vw 1vw .8vw 1vw;
  }
  body{
  padding:20px;
  background-image: url('image.jpg');
  background-size: cover;
  background-repeat: round;
    font-size: 2vw;
}

#inner{
  padding:2vw;
  width:40%;
  height: auto;
  margin: .5vw auto .5vw auto;
  border-style: solid;
  border-radius: 40px;
  opacity: 0.6;
}
td{
  width: 300px;
}

tr{
  font-weight: bolder;
  font-size: 1.5vw;
  width: 1000vw;;


}
#inner:hover{
  transition: .2s;
  opacity: 1;
  font-size:3vw;
  font-style: italic;
  padding: 3vw;
  box-shadow: 0 5px 15px rgba(0,0,0,10);
border-radius: 30px;

}
tr:hover{
  transition: .2s;
  opacity: 1;
  font-size:2vw;
  font-style: oblique;
  box-shadow: 0 5px 15px rgba(0,0,0,10);
border-radius: 30px;
}
#sub{
  border-radius: 30px;
  width: 15rem;
  height:4rem;
  background-image:  url('image.jpg');
}
#sub:hover{
padding: 15px;
box-shadow: 0 5px 15px rgba(0,0,0,10);
border-radius: 30px;
}
//**input:hover,option:hover,select:hover
{
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,10);
  border-radius: 15px;
}
