body{
    background-image:url('image.jpg');
}
#p{
margin:10% auto 40% auto;
font-size: 1vw;
  font-style: italic;
font-style: bolder;
width:40%;
height:30%;
border-style:none;
padding:50px;
border-radius:40px;
box-shadow: 0 5px 15px rgba(0,0,0,10);

}
